.user hr {
    border-width: medium;

}

.koppel {
    background-color: #DC4F62;
    color: #FFFFFF;
    border-color: #FFFFFF;
    float: right;
    text-decoration: none;
}

.koppel:hover {
    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

.koppel:active {
    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

.pasaan {
    background-color: #DC4F62;
    color: #FFFFFF;
    border-color: #FFFFFF;
    float: right;
    margin-right: 0.3em;
    text-decoration: none;
}

.pasaan:hover {
    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

.pasaan:active {
    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

.glyphicon-user {
    margin-right: 0.5em;
}

.block-error {
    text-align: center;
    font-size: 2em;
}

#pdf {
    background-color: #FFFFFF;
    border:none;
    color: #DC4F62;
    position: absolute;
    right: 14px;
    font-weight: bold;
    top: 14px;
    font-size: 12px;
    padding: 12px;
    line-height: 12px;
    border-radius: 8px;

}

#accountbtn {
    color: #DC4F62;
    border-color: #DC4F62;
    float: right;
    text-decoration: none;
}











