.user hr {
    border-width: medium;

}

.connect, .btn-primary, .revoke {
    background-color: #DC4F62;
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-decoration: none;
}

.connect:hover, .btn-primary:hover, .revoke:hover {
    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

.connect:active, .btn-primary:active, .revoke:active {
    background-color: #FFFFFF !important;
    color: #DC4F62 !important;
    border-color: #DC4F62 !important;
}

.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:active {
    background-color: #fff;
    color: #333;
    border-color: #ddd;
}

.edit {
    background-color: #DC4F62;
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-decoration: none;
}

.edit:hover {
    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

.edit:active {
    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

.competition-btn {
    background-color: #dc4f62;
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    display: inline;
    padding: 0;
    margin: 0;
    width: 40%;
    height: 35px;
    float: right;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.competition-btn:hover {
    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

.competition-btn:active {

    background-color: #FFFFFF;
    color: #DC4F62;
    border-color: #DC4F62;
}

#pdf {
    background-color: #FFFFFF;
    border: none;
    color: #DC4F62;
    position: absolute;
    right: 12px;
    font-weight: bold;
    top: 12px;
    font-size: .6em;
    padding: 12px;
    line-height: 1em;
    border-radius: 4px;
}

.link-button {
    color: #DC4F62 !important;
    border: none;
    float: right;
    text-decoration: none !important;
}

.link-button:hover {
    cursor: pointer;
    color: #B84252 !important;
}

.link-button:active {
    color: #C9495A !important;
}

@media (max-width: 1200px) {
    .competition-btn {
        width: 30%;
    }
}

@media (max-width: 600px ) {
    .edit, .connect, .revoke {
        background-color: #DC4F62;
        color: #FFFFFF;
        border-color: #FFFFFF;
        text-decoration: none;
        float: none;
        margin-top: 0.3em;
    }

    .competition-btn {
        width: 20%;
    }

}








