h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.navbar-default {
    border-radius: 0;
}

.login-top-image {
    position: relative;
    width: 50%;
    margin-left: 50%;
    left: -25%;
}

.icon {
    margin-top: -15px;
    height: 50px;
}

.block {
    height: 300px;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #efefef;
    margin-bottom: 20px;
}

.block:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
    box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
}

/* flickering led */
.led-bad, .led-good {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    right: 70px;
    border-radius: 50%;
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.led-bad {
    -webkit-animation-name: led-bad; /* Safari 4.0 - 8.0 */
    animation-name: led-bad;
    background-color: red;
}

.led-good {
    -webkit-animation-name: led-good; /* Safari 4.0 - 8.0 */
    animation-name: led-good;
    background-color: lawngreen;
}

.large-tooltip {
    width: 500px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes led-bad {
    0% {
        background-color: red;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: red;
    }
}

@-webkit-keyframes led-good {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: lawngreen;
    }
}

/* Standard led */
@keyframes led-bad {
    0% {
        background-color: red;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: red;
    }
}

@keyframes led-good {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: lawngreen;
    }
}