/* Set declarations for all elements */
body {
    color: #333;
}

/* Set standard margins */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/*
 * HEADER
 */

.navbar-default {
    border-radius: 0;
}

.navbar {
    margin: 0;
}

.navbar-default .navbar-nav > li > a {
    font-size: 1.2em;
}

/*
 * LOGIN PAGE
 */

.login-top-image {
    position: relative;
    width: 70%;
    margin-left: 13%;
    margin-top: 10%;
}

.icon {
    margin-top: -15px;
    height: 50px;
}

/*
 * SHAPES
 */

.block {
    height: 300px;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #efefef;
    margin-bottom: 20px;
}

.block-resize {
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #efefef;
    margin-bottom: 20px;
}

.block-settings {
    min-height: 500px;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #efefef;
    margin-bottom: 20px;
}

.block:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
    box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
}

/*
 * REST LED
 */

.led-bad, .led-good {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    right: 70px;
    border-radius: 50%;
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.led-bad {
    -webkit-animation-name: led-bad; /* Safari 4.0 - 8.0 */
    animation-name: led-bad;
    background-color: red;
}

.led-good {
    -webkit-animation-name: led-good; /* Safari 4.0 - 8.0 */
    animation-name: led-good;
    background-color: lawngreen;
}

.large-tooltip {
    width: 500px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes led-bad {
    0% {
        background-color: red;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: red;
    }
}

@-webkit-keyframes led-good {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: lawngreen;
    }
}

/* Standard led */
@keyframes led-bad {
    0% {
        background-color: red;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: red;
    }
}

@keyframes led-good {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: lawngreen;
    }
}

/*
 * TODO: unknown
 * TODO: group declarations
 */

.tab-offset {
    margin-top: 30px;
}

.pink a {
    color: #dc4f62;
}

/*
 * TODAY BAR
 */

#today {
    background-color: #dc4f62;
    width: 100%;

    height: 64px;
    transition: height .5s ease-in-out, line-height .5s ease-in-out;

    margin-bottom: 20px;
    position: relative;

    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 64px;
    vertical-align: middle;
}

/*
 * MY RESULTS PAGE
 */

.total {
    position: absolute;
    right: .6em;
    top: .6em;

    font-size: 1.8em;
    font-weight: bold;
    padding: .3em .7em;
    border: 1px solid #eee;
    border-radius: 1em;
    display: inline-block;
}

.total.button:hover {
    background-color: #efefef;
    cursor: pointer;
}

.total.button:active {
    background-color: #dedede;
}

@media all and (max-width: 768px) {
    .total {
        font-size: 1.6em;
        padding: .35em .6em;
    }
}

.chart, .block-error {
    margin-top: 22px;
    text-align: center;
    font-size: 1.4em;
}

.block-error {
    padding-top: .4em;
}

.chart .glyphicon, .block-error .glyphicon {
    margin-top: .6em;
    font-size: 1.6em;
}

#goal-history {
    width: 100%;
    height: 190px;
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 1em;

    overflow-x: scroll;
    overflow-y: hidden;
}

#goal-history-inside {
    height: 100%;
}

.goal {
    display: inline-block;
    padding: .6em;
    margin: 1em;
    border: 1px solid #eee;
    border-radius: 1em;
    height: calc(100% - 2em);
    width: 200px;
    float: left;
    text-align: center;
}

.goal.achieved {
    color: #fff;
    background-color: #49dc90;
    border: none;
}

.goal-icon {
    font-size: 3.2em;
    margin-top: .1em;
}

.not-achieved {
    color: #999;
}

.goal h2 {
    font-weight: bold;
}

.center {
    margin-top: 50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

/* big error in the middle of the page */
.page-error {
    font-size: 2.6em;
    text-align: center;
    margin-top: 2em;
}

/* bigger icon than text */
.page-error .glyphicon {
    font-size: 2em;
}

/* fancy url */
.url {
    background-color: #dc4f62;
    padding: .3em;
    font-size: .4em;
    border-radius: .5em;
    color: #fff;
    line-height: .4em;
    font-family: "Courier New", serif;
}

/*
 * COMPETITIONS
 */

.comp-chart {
    margin-top: 70px;
    text-align: center;
    font-size: 1.4em;
}

#competition-data {
    text-align: center;
    position: static;
    display: inline;
}

#startend {
    position: relative;
    display: inline;

}

#comp-div {
    float: right;
}

#default-goal, #default-days {
    display: inline;
    width: 200px;
    float: left;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

/* mobile */
@media all and (max-width: 768px) {
    /* smaller text */
    .page-error {
        font-size: 1.6em;
    }
}

/*
 * ADMIN DASHBOARD
 */

#userlist, #userlist-inactive {
    overflow-y: auto;
    max-height: 400px;
}

#userlist hr, #userlist-inactive hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.is-connected {
    margin-top: .25em;
    font-size: 1.2em;
}

#competition-form {
    display: block;
}

/* mobile */
@media all and (max-height: 600px) {
    #userlist, #userlist-inactive {
        max-height: 200px;
    }
}

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
    line-height: inherit;
}

/*
 *
 * EXPORT MODAL
 */

#modal-export .modal-body {
    padding-bottom: 50px;
}

/* Export button */
#export {
    margin-right: 1em;
    float: right;
    width: calc(100% - 2em);
}

#export:after {
    content: ' Exporteer';
}

#export[disabled]:after {
    content: ' Exporteren...';
}

/* Surrounding error div under the datepicker of the period export option */
.date-error {
    padding: 0;
}

/* Error div under the datepicker of the period export option */
.date-error > .alert-danger {
    padding: 0 3px 2px 3px;
    border-radius: .3em;
    margin-top: .3em;
    text-align: center;
}

/*
 * TODO: unnamed group
 */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #f5f5f5;
}

.nav-tabs {
    border: none;
}

.info {
    margin-top: 1em;
    margin-bottom: 1em;
}

.panel-body h5 {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
 * CONNECT MODAL
 */

#modal-connect {
    text-align: center;
}

#modal-connect-body {
    padding-top: 2em;
    padding-bottom: 2em;
}

.success {
    font-size: 2em;
    color: #49dc90;
}

/*
 * SOCIAL PAGE
 */

#sharedgoalh {
    text-align: left;
    margin-top: .35em;
    margin-left: .35em;
}

#userlist, #line-modal-label {
    overflow-wrap: break-word;
}

.user {
    line-height: 34px;
    font-size: 1.1em;
}

.radio-select {
    font-size: 1.5em;
    padding-left: 0;
}

/*
 * TOOLTIP STYLING
 */

.tooltip {
    opacity: 1 !important;
}

.tooltip-inner {
    width: 600px !important;
    background-color: #333;
    font-size: 1.2em;
    padding: 1em 2em;
}

/* info sign next to a tooltip */
.glyphicon-info-sign {
    color: #DC4F62;
    font-size: 1.2em;
    vertical-align: middle;
    /* to make it fit next to the text on most places */
    width: 18px;
}

/* To have the same size panels (most of the times) */
.tab-pane .panel-body {
    min-height: 350px;
}


#comp-days {
    display:inline;
    width:70%;
}

#comp-goal{
    display: inline;
    width:70%;
}