body {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    margin-top: .1em;
}

.navbar-default {
    border-radius: 0;
}

.navbar {
    margin: 0;
}

.login-top-image {
    position: relative;
    width: 50%;
    margin-left: 50%;
    left: -25%;
}

.icon {
    margin-top: -15px;
    height: 50px;
}

.block {
    height: 300px;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #efefef;
    margin-bottom: 20px;
}

.block:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
    box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2);
}

/* flickering led */
.led-bad, .led-good {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    right: 70px;
    border-radius: 50%;
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.led-bad {
    -webkit-animation-name: led-bad; /* Safari 4.0 - 8.0 */
    animation-name: led-bad;
    background-color: red;
}

.led-good {
    -webkit-animation-name: led-good; /* Safari 4.0 - 8.0 */
    animation-name: led-good;
    background-color: lawngreen;
}

.large-tooltip {
    width: 500px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes led-bad {
    0% {
        background-color: red;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: red;
    }
}

@-webkit-keyframes led-good {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: lawngreen;
    }
}

/* Standard led */
@keyframes led-bad {
    0% {
        background-color: red;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: red;
    }
}

@keyframes led-good {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: lawngreen;
    }
}

#today {
    background-color: #dc4f62;
    width: 100%;
    height: 64px;
    margin-bottom: 20px;

    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 64px;
    vertical-align: middle;
}

.total {
    position: absolute;
    right: .6em;
    top: .6em;

    font-size: 2em;
    font-weight: bold;
    padding: .5em 1em;
    border: 1px solid #eee;
    border-radius: 1em;
    display: inline-block;
}

@media all and (max-width: 768px) {
    .total {
        font-size: 1.6em;
    }
}

.chart {
    margin-top: 40px;
}

#goal-history {
    width: 100%;
    height: 190px;
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 1em;

    overflow-x: scroll;
    overflow-y: hidden;
}

#goal-history-inside {
    width: 1200px;
    height: 100%;
}

.goal {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border: 1px solid #eee;
    border-radius: 1em;
    height: calc(100% - 2em);
    width: 200px;
    float: left;
    text-align: center;
}

.goal.achieved {
    color: #fff;
    background-color: #49dc90;
    border: none;
}

.goal-icon {
    font-size: 4em;
    margin-top: 0.1em;
}

.not-achieved {
    color: #999;
}

.goal h2 {
    font-weight: bold;
}