.block {
    height: 100%;
    max-height: 85vh;
}

#birthdays {
    overflow-wrap: break-word;
}

.birthday-today {
    font-size: large;
    font-weight: bold;
}

.birthday-user {
    font-size: large;
}

.birthday-one-user h3 {
    font-weight: normal;
}

.birthday-cake, .birthday-piece {
    width: 100%;
}

