
.block {
    height: 100%;
    max-height: 85vh;
    /*padding: 5px;*/
}

.birthday-today {
    font-size: x-large;
    font-weight: bold;
}

.birthday-user {
    font-size: large;
}


/*#birthday-cake{*/
/*float: right;*/
/*}*/

/*#birthdays img {*/
    /*float: right;*/
/*}*/