html, body {
    overflow: hidden;
}

#container-social {
    position: relative;
    top: -20px;
    margin: 0;
    padding: 0;
}

.block-resize, .block {
    height: calc(100vh - 220px);
    overflow: hidden;
}

.block {
    margin: 20px;
}

#bar-div {
    height: 50px;
    margin-top: 20px;
}

#birthdays {
    overflow-wrap: break-word;
}

.birthday-today {
    font-size: large;
    font-weight: bold;
}

.birthday-user {
    font-size: large;
}

.birthday-one-user h3 {
    font-weight: normal;
}

.birthday-cake, .birthday-piece {
    width: 100%;
}

#today-icon {
    font-size: 7em;
    float: left;
    position: absolute;
    left: 5%;
    color: white;
}